<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/header :: header" />


<body class="page-body">

<div lang="en" th:replace="fragments/user-profile.html"> </div>

<div class="page-container">


            <div lang="en" th:replace="fragments/menu.html" />







      <strong>  --------- your code here.</strong>


        <div lang="en" th:replace="fragments/copyright.html"/>
    </div>
</div>
</body>
<div lang="en" th:replace="fragments/footer :: footer"/>
</html>