<div th:fragment="footer">

    <!-- Bottom Scripts -->
    <script src="pages/assets/js/bootstrap.min.js"></script>
    <script src="pages/assets/js/TweenMax.min.js"></script>
    <script src="pages/assets/js/resizeable.js"></script>
    <script src="pages/assets/js/joinable.js"></script>
    <script src="pages/assets/js/xenon-api.js"></script>
    <script src="pages/assets/js/xenon-toggles.js"></script>


    <!-- Imported scripts on this page -->
    <script src="pages/assets/js/xenon-widgets.js"></script>
    <script src="pages/assets/js/devexpress-web-14.1/js/globalize.min.js"></script>
    <script src="pages/assets/js/devexpress-web-14.1/js/dx.chartjs.js"></script>
    <script src="pages/assets/js/toastr/toastr.min.js"></script>


    <!-- JavaScripts initializations and stuff -->
    <script src="pages/assets/js/xenon-custom.js"></script>

</div>