<div class="sidebar-menu toggle-others fixed">

    <div class="sidebar-menu-inner">

        <header class="logo-env">

            <!-- logo -->
            <div class="logo">
                <a href="#" class="logo-expanded">
                    <img src="pages/images/largeIco1.png" width="48" alt=""/>
                    <h5 style="color: white" th:text="#{system.name}" ></h5>
                </a>

                <a href="dashboard-1.jsp" class="logo-collapsed">
<!--                    <img src="pages/assets/images/logo-collapsed@2x.png" width="40" alt=""/>-->
                    <h2 style="color: white"  >EP</h2>
                </a>
            </div>

            <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
            <div class="mobile-menu-toggle visible-xs">
<!--                <a href="#" data-toggle="user-info-menu">-->
<!--                    <i class="fa-bell-o"></i>-->
<!--                    <span class="badge badge-success">7</span>-->
<!--                </a>-->

                <a href="#" data-toggle="mobile-menu">
                    <i class="fa-bars"></i>
                </a>
            </div>

            <!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
            <div class="settings-icon">
                <a href="#" data-toggle="settings-pane" data-animate="true">
                    <i class="linecons-cog"></i>
                </a>
            </div>


        </header>


        <ul id="main-menu" class="main-menu">
            <!-- add class "multiple-expanded" to allow multiple submenus to open -->
            <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
            <li class="active">
                <a href="dashboard-1.jsp">
                    <i class="linecons-cog"></i>
                    <span class="title" th:text="#{menu.setting}">/span>
                </a>
                <ul>
                    <li class="active">
                        <a href="dashboard-1.jsp">
                            <span th:text="#{menu.setting}"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <!--                <li>-->
            <!--                    <a href="charts-main.jsp">-->
            <!--                        <i class="linecons-globe"></i>-->
            <!--                        <span class="title">Charts</span>-->
            <!--                    </a>-->
            <!--                    <ul>-->
            <!--                        <li>-->
            <!--                            <a href="charts-main.jsp">-->
            <!--                                <span class="title">Chart Variants</span>-->
            <!--                            </a>-->
            <!--                        </li>-->
            <!--                        <li>-->
            <!--                            <a href="charts-range.jsp">-->
            <!--                                <span class="title">Range Selector</span>-->
            <!--                            </a>-->
            <!--                        </li>-->
            <!--                        <li>-->
            <!--                            <a href="charts-sparklines.jsp">-->
            <!--                                <span class="title">Sparklines</span>-->
            <!--                            </a>-->
            <!--                        </li>-->
            <!--                        <li>-->
            <!--                            <a href="charts-map.jsp">-->
            <!--                                <span class="title">Map Charts</span>-->
            <!--                            </a>-->
            <!--                        </li>-->
            <!--                        <li>-->
            <!--                            <a href="charts-gauges.jsp">-->
            <!--                                <span class="title">Circular Gauges</span>-->
            <!--                            </a>-->
            <!--                        </li>-->
            <!--                        <li>-->
            <!--                            <a href="charts-bar-gauges.jsp">-->
            <!--                                <span class="title">Bar Gauges</span>-->
            <!--                            </a>-->
            <!--                        </li>-->
            <!--                    </ul>-->
            <!--                </li>-->
        </ul>

    </div>

</div>

<div class="main-content">

    <!-- User Info, Notifications and Menu Bar -->
    <nav class="navbar user-info-navbar" role="navigation">

        <!-- Left links for user info navbar -->
        <ul class="user-info-menu left-links list-inline list-unstyled">

            <li class="hidden-sm hidden-xs">
                <a href="#" data-toggle="sidebar">
                    <i class="fa-bars"></i>
                </a>
            </li>

        </ul>

        <ul class="user-info-menu right-links list-inline list-unstyled">


        </ul>

    </nav>