<div th:fragment="footer">

    <!-- Bottom Scripts -->
    <script src="/assets/js/bootstrap.min.js"></script>
<!--    <script src="/assets/js/TweenMax.min.js"></script>-->
    <script src="/assets/js/resizeable.js"></script>
    <script src="/assets/js/joinable.js"></script>
<!--    <script src="/assets/js/xenon-api.js"></script>-->
<!--    <script src="/assets/js/xenon-toggles.js"></script>-->


    <!-- Imported scripts on this page -->
    <script src="/assets/js/toastr/toastr.min.js"></script>


    <!-- JavaScripts initializations and stuff -->
    <script src="/assets/js/xenon-custom.js"></script>

    <script src="/assets/js/select2/select2.min.js"></script>
    <script src="/assets/js/jquery-ui/jquery-ui.min.js"></script>
    <script src="/assets/js/selectboxit/jquery.selectBoxIt.min.js"></script>

</div>