<head th:fragment="header">

    <title th:text="#{system.name}"></title>


    <link rel="stylesheet" href="/assets/css/fontsxx/linecons/css/linecons.css">
    <link rel="stylesheet" href="/assets/css/fontsxx/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/xenon-core.css">
    <link rel="stylesheet" href="/assets/css/xenon-forms.css">
    <link rel="stylesheet" href="/assets/css/xenon-components.css">
    <link rel="stylesheet" href="/assets/css/xenon-skins.css">
    <link rel="stylesheet" href="/assets/css/custom.css">


    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="bookmark" th:href="@{/favicon.ico}" type="image/x-icon"　/>
    <script src="/assets/js/jquery-1.11.1.min.js"></script>

</head>