<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:replace="@{fragments/header.html}" />
<body class="page-body">

<div lang="en" th:replace="@{fragments/user-profile.html}"> </div>

<div class="page-container">


    <div lang="en" th:replace="@{fragments/menu.html}" />






<!--  Insert your index page here. -->

    <div lang="en" th:replace="@{pages/setting.html}" />



    <!--  Insert your index page here. -->








<div lang="en" th:replace="@{fragments/copyright.html}"/>
</div>
</div>
</body>
<script type="text/javascript">
    jQuery(document).ready(function($)
    {
        $("#sboxit-1").selectBoxIt().on('open', function()
        {
            // Adding Custom Scrollbar
            $(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
        });
    });
</script>
<div lang="en" th:replace="@{fragments/footer.html}"/>
</html>